#parent{
    -fx-background-color: #FFFFFF;
}
#nav-section{
    -fx-background-color: #FFFFFF;
}
#music_window{
    -fx-background-color: #FFFFFF;
}
#content{
    -fx-background-color: #FFFFFF;
}
#title{
    -fx-text-fill: white;
    -fx-font-size: 20;
}
.scroll-pane{
    -fx-padding: 0;
}
.scroll-pane .viewport{
    -fx-background-color: transparent;
}
#video_window{

}
#music-label{
    -fx-text-fill: #000000;
    -fx-background-color: #FFFFFF;
}
#video-label{
    -fx-text-fill: #000000;
    -fx-background-color: #FFFFFF;
}
.list-cell{
    -fx-padding: 20;
    -fx-background-radius: 10;
    -fx-background-insets: 3;
}
.list-cell:selected{
    -fx-background-color: #35E7C7;
    -fx-text-fill: black;
}
.list-cell:hover{
    -fx-background-color: #D3D3D3;
}
#cell-play-button{
    -fx-background-color: transparent;
}
#cell-play-button:hover{
    -fx-background-color: #C0C0C0;
}
.list-view:focused{
    -fx-background-insets: 0;
    -fx-background-color: white;
}
#music-list{
    -fx-border-color: #F0F8FF;
}
#video-list{
    -fx-border-color: #F0F8FF;
}
#media-container{
    -fx-background-color: black;
}
#progress{
    -fx-pref-height: 3;
    -fx-padding: 0;
    -fx-background-insets: 0;
}
.progress-bar .bar{
    -fx-background-color: #35E7C7;
    -fx-background-radius: 999;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.progress-bar .track{
    -fx-background-color: gray;
    -fx-background-radius: 999;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.playback-item{
    -fx-background-color: transparent;
}
.playback-item:hover{
    -fx-background-color: #C0C0C0;
}
.nav-item{
    -fx-background-color: transparent;
}
.nav-item:selected{
    -fx-background-color: #D3D3D3;
}
.nav-item:hover{
    -fx-background-color: #C0C0C0;
}
#bottom-section{
    -fx-background-color: #FFFFFF;
}
